html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.container {
  margin-left: 7rem;
  margin-right: 7rem;
}
/* header */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.menu-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 55rem;
  color: gray;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 40rem;
}

.menu-a {
  color: gray;
}

.menu-a:hover {
  color: black;
}

.menu i {
  font-size: 1rem;
}
.logo-h {
  font-size: 2rem;
}

nav button {
  background-color: #00b993;
  padding: 1.6rem;
  border: 0px solid;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}
nav button i {
  padding-left: 0.7rem;
}
nav button:hover {
  background-color: #009e7e;
}

.bar {
  display: none;
}

/* main */

.main-wrapper {
  background: url(img/pattern-shapes.png);
  background-blend-mode: multiply;
  background-color: #0061f2;
  text-align: center;
  clip-path: ellipse(100% 90% at 50% 10%);
}

.main-h1 {
  font-size: 4rem;
  color: white;
  padding-top: 10rem;
  padding-bottom: 1rem;
}

.main p {
  padding-top: 1rem;
  padding-bottom: 5rem;
  color: #789cf5;
  font-size: 2rem;
}

.main-button-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
}

.btn-1 {
  background-color: #00b993;
  color: white;
  border: 0px solid;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.btn-2 {
  background-color: white;
  color: #00b993;
  border: 1px solid;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
.btn-1:hover {
  background-color: #009e7e;
}

/* post
 */

.postings {
  background-color: #f2f6fc;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.postings-h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
  margin-left: 5rem;
}
#postings-h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
#postings-h3 a {
  color: #0061f2;
}

#posings-h3 a:hover {
  text-decoration: underline;
}

#postings-i {
  color: #0061f2;
  font-size: 1.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-card {
  position: relative;
}
.post-card:hover {
  transform: translateY(-10px);
}

.card-price {
  background-color: #171c23;
  padding: 0.6rem;
  border-radius: 0.5rem;
  transition: 0.4;
  color: white;
  position: absolute;
  right: 0;
  top: 10px;
}
.card-div {
  background-color: white;
  border-bottom: 1px;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card-img {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.col-lg-4 {
  width: 25%;
}

/* categories */
.categories {
  padding-top: 5rem;
  background-color: #f2f6fc;
}
.categories h1 {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.categories-card {
  text-align: center;
  background-color: white;
  padding: 5rem;
  border: 1px solid red;
  border-bottom: 0.5rem solid red;
  border-radius: 1rem;
  width: 30rem;
  margin-bottom: 5rem;
}

.categories-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.categories i {
  font-size: 3rem;
  color: white;
  padding: 2rem;
  border-radius: 50%;
  background-color: red;
}

/* city */

.city {
  margin-top: 8rem;
}
.city-h1 {
  margin-left: 5rem;
  font-size: 2rem;
}

.city-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-between;
  align-items: flex-start;
  color: gray;
}
.city-wrapper ul {
  line-height: 3rem;
  flex:1;
  margin-right: 1rem;
}


/* app */

.app {
  background-color: #0061f2;
  background: linear-gradient(to right, #0061f2, #6f3fdf);
  transform: translate(#0061f2 to purple);
  clip-path: ellipse(100% 90% at 50% 10%); ;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.app h1 {
  font-size: 5rem;
  color:white;
}

.app h2 {
  color: gray;
  padding-bottom: 2rem;
}

.app-btn {
  background-color: black;
  color: white;
  padding: 1.8rem;
  border: 0px ;
  border-radius: 1rem ;
} 
.app p {
  color: gray;
  padding-top: 1rem;
}


/* footer */

footer {
  color: gray;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.footer-wrapper {
  display: flex;
  padding-bottom: 3rem;
  border-bottom: 1px solid gray;
}

.footer-wrapper h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.footer-wrapper i {
  margin-top: 1rem;
  font-size: 2rem;
}

.footer-wrapper ul {
  line-height: 2;
}

.footer-product {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 5rem;
}

.footer-last {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.footer-last div {
  display: flex;
  justify-content: space-around;
  width: 25rem;
}

@media (max-width: 1399.98px) {
  .categories-card {
    width: 27rem;
  }
}

@media (max-width: 1199.98px) {
  .categories-card {
    width: 22rem;
  }
}

@media (max-width: 991.98px) {
  .bar {
    display: block;
  }
  .menu-wrapper {
    display: none;
  }
  .nav-wrapper {
    justify-content: space-between;
  }
  .col-md-6 {
    width: 50%;
  }
  .city-wrapper ul {
    flex:1 0 50%;
    margin-right: 0rem;
  }

  .footer-product {
    flex-wrap: wrap;
    margin-left: 5rem;
  }
  .footer-product ul {
    flex: 1 0 50%;
    padding: 1rem;
  }
  
}

@media (max-width: 767.98px) {
  .col-sm-12 {
    width: 100%;
  }
  .city-wrapper ul {
    line-height: 3rem;
    flex:1 0 100%;
    margin-right: rem;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-wrapper ul {
    margin-top: 3rem;
  }
  .footer-product {
    display: block;
    text-align: left;
    margin-left: 0rem;
  }
}
@media (max-width: 575.98px) {
  .main-button-wrapper {
    display: flex;
    flex-direction: column;
  }

  .btn-1,
  .btn-2 {
    margin: 1rem;
  }
}
